.app.dark {
  --bg-color: rgba(48,69,95, 1);
  --bg-color-light: rgba(108,145,184, 1);
  --text-color: rgba(232, 232, 234, 1);
  --inverted-text-color: rgba(51, 50, 50, 1);
  --progressbar-color: rgba(173, 219, 103, 1);
  --bg-color-menu: rgba(255,137,10, 1);
}
.app.light {
  --bg-color: rgba(143, 127, 97, 1);
  --bg-color-light: rgba(255,226,175, 1);
  --text-color: rgba(51, 50, 50, 1);
  --inverted-text-color: rgba(232, 232, 234, 1);
  --progressbar-color: rgba(91, 133, 231, 1);
  --bg-color-menu: rgba(82 ,169, 231, 1);
}
